@import url('https://fonts.googleapis.com/css?family=Kodchasan');

html,
body {
    height: 100%;
    margin: 0;
}

body {
    color: #fff;
    text-align: center;
}

h1 {
    font-family: 'Kodchasan', sans-serif;
    font-size: 4em;
}

@media (min-width: 768px) {
    .logo-container {
        top: 20%;
        max-height: 30%;
    }
}

.split {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 490px;
    transition: all .2s ease-in-out;
}

.fael {
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(255, 255, 255, 0.10)), url('assets/fael_bg.jpg');
    background-size: cover;
    background-position: center;
}

@media (min-width: 768px) {
    .fael {
        float: left;
        left: 0;
        top: 0;
        height: 100%;
        width: 50%;
    }
}

.coreso {
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(164, 222, 102, 0.10)), url('assets/coreso_bg.jpg');
    background-size: cover;
    background-position: center;
}

@media (min-width: 768px) {
    .coreso {
        float: right;
        right: 0;
        top: 0;
        height: 100%;
        width: 50%;
    }
}

.fael:hover,
.coreso:hover {
    transform: scale(0.95);
}