@media (min-width: 1199px) {
    #nav {
        display: none;
    }
}

@media (max-width: 930px) {
    .container-fluid {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    .topbar {
        display: none;
    }

    .carousel-caption {
        position: absolute;
        right: 15%;
        bottom: 1.25rem;
        left: 15%;
        padding-top: 0.25rem;
        padding-bottom: 3.25rem;
        color: #fff;
        text-align: center;
    }

    .px-lg-5 {
        padding-right: 0rem !important;
        padding-left: 0rem !important;
    }

    .carousel-caption p {
        font-size: 30px;
    }

    .navbar-brand h2 {
        font-family: "Oswald", sans-serif;
        line-height: 1.2;
        padding: 10px 20px;
        font-size: 1.5rem;
    }

    .social {
        position: relative;
        width: 100%;
        margin-bottom: 30px;
    }
}

@media (max-width: 570px) {
    .navbar-brand h1 {
        font-family: "Oswald", sans-serif;
        line-height: 1.2;
        padding: 10px 0;
        font-size: 1.5rem;
    }

    .topbar {
        display: none;
    }

    .px-lg-5 {
        padding-right: 0rem !important;
        padding-left: 0rem !important;
    }

    .contact .social a {
        display: inline-block;
        margin: 10px 10px 0 0;
        width: 38px;
        height: 40px;
        padding: 5px 0;
        text-align: center;
        font-size: 18px;
        border: 1px solid #FDA12B;
        border-radius: 4px;
    }

    .product-detail .product-content .price p {
        display: inline-block;
        color: #3f4347;
        margin: 0;
        font-size: 15px;
        font-family: "Oswald", sans-serif;
    }

    .feature-container {
        display: none;
    }

    .ful-slider {
        margin-top: 122px;
    }
}

@media (max-width: 470px) {
    .contact .social a {
        display: inline-block;
        margin: 10px 10px 0 0;
        width: 35px;
        height: 40px;
        padding: 5px 0;
        text-align: center;
        font-size: 18px;
        border: 1px solid #FDA12B;
        border-radius: 4px;
    }

    .carousel-caption {
        position: absolute;
        right: 15%;
        bottom: 1.25rem;
        left: 15%;
        padding-top: 0.25rem;
        padding-bottom: 1.25rem;
        color: #fff;
        text-align: center;
    }

    .item-feature {
        margin-left: 60px;
    }

    .ms-4 {
        margin-left: 2.5rem !important;
    }

    .special-note {
        margin-top: 15px;
    }

}

@media (max-width: 330px) {}